@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

:root {
	/* --background-color: #01152a; */
	--background-color: #eeeff0;
}

.mc {
	@apply container mx-auto;
}

.section-bg {
	background: var(--background-color) url("./assets/body-bg-pattern.svg");
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;

	@apply md:py-[100px] py-5;
}
