@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* --background-color: #01152a; */
	--background-color: #eeeff0;
}

.mc {
	@apply container mx-auto;
}

.section-bg {
	padding: 60px 0;
	background: var(--background-color) url("./assets/body-bg-pattern.svg");
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
}
